html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
   content: " ";
   display: table;
   clear: both;
}

.container{
	position: relative; 
}

/*START HERE*/


@font-face {
	font-family: QuatroSlab;
	src: url("QuatroSlab_Regular.otf") format("opentype");
}

@font-face{
	font-family: LFT_Etica_Book;
	src: url("LFT_Etica_Book.otf") format("opentype");
}

@font-face{
	font-family: LFT_Etica_Reg;
	src: url("LFT_Etica_Reg.otf") format("opentype");
}
@font-face{
	font-family: LFT_Etica_Semibold;
	src: url("LFT_Etica_Semibold.otf") format("opentype");
}

body{
	background-color: rgb(26, 35, 37);
	border-top: 2px solid rgb(248, 105, 90);
}

.main_container{
	border-bottom: 1px solid rgb(54, 53, 53);
	width: 60%;
	margin: 0 auto;
	padding-bottom: 50px;
	margin-bottom: 30px;
}

.logo{
	height: 80px;
	width: 80px;
	position: relative;
	left: 45px;
}

.logo p{
	color: white;
	font-size: 20px;
	position: absolute;
	top: 30px;
	left: 10px;
	right: 10px;
	/*text-align: center;
	vertical-align: middle;*/
}


.header{
	width: 50%;
	padding: 0 60px;
	box-sizing: border-box;
	float: left;
}

.descrip1{
	width: 50%;
	padding: 0 60px;
	/*float: left;*/
	box-sizing: border-box;
}

.descrip_header{
	font-family: 'QuatroSlab';
	color: white;
	font-size: 23px;
	font-weight: 100;
	line-height: 28px;
}

.descrip_subhead{
	color: rgb(85, 90, 91);
	font-family: 'LFT_Etica_Book';
	margin-bottom: 19px;
	font-size: 11px;
}

.picture1{
	float: right;
	width: 50%;
	padding-right: 10px;
	box-sizing: border-box;
}

.picture1 img{
	border: 5px solid white;
	width: 100%;
}

.descrip_blurb{
	color: rgb(171, 173, 173);
	font-family: 'LFT_Etica_Book';
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 12px;
}

.descrip_check{
	color: rgb(1, 191, 193);
	font-family: 'LFT_Etica_Book';
	margin-top: 25px;
	font-size: 11px;
	display: inline;
}

.arrow{
	font-family: Arial;
	color: rgb(1, 191, 193);
	display: inline;
	margin-left: 3px;
}

.descrip_footer{
	margin-top: 40px;
	padding-top: 40px;
	border-top: 1px solid rgb(40, 44, 44);
}

.descrip_price{
	color: white;
	display: inline-block;
	font-family: 'QuatroSlab';
	font-size: 17px;
}

button{
	background-color: rgb(1, 191, 193);
	display: inline-block;
	margin-left: 20px;
	border: none;
}

.buy_button{
	padding-left: 12px;
	padding-right: 11px;
	padding-top: 6px;
	padding-bottom: 5px;
	color: white;
	font-size: 9px;
}


/*RESPONSIVE*/

@media (max-width: 930px){
	.main_container{
		width: 70%;
	}
}

@media (max-width: 790px){
	.main_container{
		width: 80%;
	}
}

@media (max-width: 700px){
	.main_container{
		width: 90%;
	}
}

@media (max-width: 570px){
	.main_container{
		width: 90%;
	}
	.header{
		float: none;
		margin: 0 auto;
		padding: 0;
		width: 55%;

	}
	.descrip_subhead, .descrip_header{
		text-align: center;
	}


	.picture1{
		float: none;
		margin: 0 auto;
	}

	.descrip1{
		margin: 0 auto;
		width: 90%;
	}

	.descrip_footer{
		margin: 0 auto;
		width: 90%;
		padding-top: 20px;
		margin-top: 10px;
	}

}

@media (max-width: 409px){
	.header{
		width: 74%;
	}
	.picture1{
		width: 90%;
	}
	.descrip1{
		padding: 0;
		margin-top: 15px;
	}
	.descrip_footer{
		text-align: center;
	}
	.descrip_header{
		text-align: center;
	}

}
